.footer {
    min-height: 180px;
    background-color: $dark;
    padding: 45px 0 50px 0;
    color: #fff;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .subtitle {
        font-size: 20px;
    }
    .link {
        display: block;
        margin-top: 15px;
        font-size: 16px;
        color: #fff;
    }
    .call {
        text-align: right;
    }
}

@media (max-width: 1200px){
    .footer {
        .container {
            padding: 0 80px;
        }
    }
}

@media (max-width: 768px){
    .footer {
        .container {
            padding: 0 70px;
        }
        .subtitle {
            font-size: 17px;
        }
        .link {
            font-size: 15px;
        }
    }
}

@media (max-width: 768px){
    .footer {
        .container {
            padding: 0 15px;
        }
        .subtitle {
            font-size: 14px;
        }
        .link {
            font-size: 13px;
        }
    }
}